// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$toolbar-content-padding-x: 0;
$toolbar-content-padding-y: 0;
$date-picker-table-font-size: 24px;
// $date-picker-table-date-button-width: 5px !important;
// $date-picker-table-date-button-height: 5px !important;
// $date-picker-table-date-padding: 0px !important;
$date-picker-header-button-padding: 0px 0px !important;
$slider-thumb-focused-size-increase: 0px;
$slider-thumb-before-opacity: 1;